---
branches:
- master
- name: 2021-06-release
  prerelease: true
plugins:
- - "@semantic-release/commit-analyzer"
  - preset: conventionalcommits 
- - "@semantic-release/release-notes-generator"
  - preset: conventionalcommits
- - "@semantic-release/github"
