---
branches:
- master
- name: next-spec
  prerelease: true
- name: next-major-spec
  prerelease: true
plugins:
- - "@semantic-release/commit-analyzer"
  - preset: conventionalcommits
- - "@semantic-release/release-notes-generator"
  - preset: conventionalcommits
- - "@semantic-release/github"
